@media ( max-width: 767px) {
  .container {
    width: 100%;
  }
}

.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) and ( max-width: 992px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10 {
    float: left;
  }
  .col-sm-10 {
    width: 100%;
  }
  .col-sm-9 {
    width: 90%;
  }
  .col-sm-8 {
    width: 80%;
  }
  .col-sm-7 {
    width: 70%;
  }
  .col-sm-6 {
    width: 60%;
  }
  .col-sm-5 {
    width: 50%;
  }
  .col-sm-4 {
    width: 40%;
  }
  .col-sm-3 {
    width: 30%;
  }
  .col-sm-2 {
    width: 20%;
  }
  .col-sm-1 {
    width: 10%;
  }
  .col-sm-pull-10 {
    right: 100%;
  }
  .col-sm-pull-9 {
    right: 90%;
  }
  .col-sm-pull-8 {
    right: 80%;
  }
  .col-sm-pull-7 {
    right: 70%;
  }
  .col-sm-pull-6 {
    right: 60%;
  }
  .col-sm-pull-5 {
    right: 50%;
  }
  .col-sm-pull-4 {
    right: 40%;
  }
  .col-sm-pull-3 {
    right: 30%;
  }
  .col-sm-pull-2 {
    right: 20%;
  }
  .col-sm-pull-1 {
    right: 10%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-10 {
    left: 100%;
  }
  .col-sm-push-9 {
    left: 90%;
  }
  .col-sm-push-8 {
    left: 80%;
  }
  .col-sm-push-7 {
    left: 70%;
  }
  .col-sm-push-6 {
    left: 60%;
  }
  .col-sm-push-5 {
    left: 50%;
  }
  .col-sm-push-4 {
    left: 40%;
  }
  .col-sm-push-3 {
    left: 30%;
  }
  .col-sm-push-2 {
    left: 20%;
  }
  .col-sm-push-1 {
    left: 10%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-10 {
    margin-left: 100%;
  }
  .col-sm-offset-9 {
    margin-left: 90%;
  }
  .col-sm-offset-8 {
    margin-left: 80%;
  }
  .col-sm-offset-7 {
    margin-left: 70%;
  }
  .col-sm-offset-6 {
    margin-left: 60%;
  }
  .col-sm-offset-5 {
    margin-left: 50%;
  }
  .col-sm-offset-4 {
    margin-left: 40%;
  }
  .col-sm-offset-3 {
    margin-left: 30%;
  }
  .col-sm-offset-2 {
    margin-left: 20%;
  }
  .col-sm-offset-1 {
    margin-left: 10%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
