@mixin font-size($sizeValue: 1.2, $important: false) {
  @if $important == true {
    font-size: ($sizeValue * 10) + px !important;
    font-size: $sizeValue + rem !important;
  } @else {
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
  }
}

@function line-height($level, $desktop: true) {
  @if $desktop == true {
    @return map-get($line-heights, $level);
  } @else {
    @return map-get($line-heights-mobile, $level);
  }

}

