@import  url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600|Raleway:300,400,500,700');

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;

  body {
    font-family: 'Poppins', sans-serif;
    @include font-size(1.5);
    line-height: 1.6;
  }
}

p {
  @include font-size(1.2,false);
  line-height: line-height(0);
  font-weight: 300;
  margin-bottom: 8px;

}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
  font-weight: 500;
}

h1,.h1 {
  @include font-size(3.6, false);
  line-height: line-height(6);
  margin-bottom: 27px;
  margin-top: 62px;
  @media (max-width: 767px) {
    @include font-size(2.5,false);
    line-height: line-height(6,false);
  }
}

h2,.h2 {
  @include font-size(3, false);
  line-height: line-height(5);
  margin-bottom: 24px;
  margin-top: 34px;
  @media (max-width: 767px) {
    @include font-size(2.1,false);
    line-height: line-height(5,false);
  }
}

h3,.h3 {
  @include font-size(2.6, false);
  line-height: line-height(4);
  margin-bottom: 21px;
  margin-top: 39px;
  @media (max-width: 767px) {
    @include font-size(1.8,false);
    line-height: line-height(4,false);
  }
}

h4,.h4 {
  @include font-size(2.2, false);
  line-height: line-height(3);
  margin-bottom: 17px;
  margin-top: 39px;
  @media (max-width: 767px) {
    @include font-size(1.6,false);
    line-height: line-height(3,false);
  }
}


h5,.h5 {
  @include font-size(2, false);
  line-height: line-height(2);
  margin-bottom: 16px;
  margin-top: 38px;
  @media (max-width: 767px) {
    @include font-size(1.4,false);
    line-height: line-height(2,false);
  }
}

h6,.h6 {
  @include font-size(1.6, false);
  line-height: line-height(1);
  margin-top: 39px;
  @media (max-width: 767px) {
    @include font-size(1.3,false);
    line-height: line-height(1,false);
  }
}

.example-heading {
  h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
    margin-bottom: 10px;
  }
  h1,.h1 {
    margin-top: 62px;
  }
  h2,.h2 {
    margin-top: 38px;
  }

  h3,.h3 {
    margin-top: 41px;
  }

  h4,.h4 {
    margin-top: 42px;
  }

  h5,.h5 {
    margin-top: 42px;
  }

  h6,.h6 {
    margin-top:43px;
  }
}

.text-img {
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 40px;
}

ol,ul {
  @include font-size(1.2,false);
  margin-left: 15px;
  padding: 12px 0px;

}

ol {
  line-height: line-height(0);
  ol {
    padding: 8px 21px;
  }


}

ul {
  padding: 12.5px 0px;
  list-style: none;
  line-height: line-height(-1);
  li {
    padding-left: 15px;
    position: relative;
  }
  &.list-circle {
    >li {
      padding-left: 9px;
      &:before {
        content: '';
        display: inline-block;
        height: 4px;
        width: 4px;
        border-radius: 50%;
        position: absolute;
        top: 5.5px;
        left: 0;
      }
    }

  }

  &.list-circle-empty {
    margin-left: 21px;
    >li {
      padding-left: 10px;
      &:before {
        content: '';
        display: inline-block;

        height: 4px;
        width: 4px;
        border-radius: 50%;
        position: absolute;
        top: 5.5px;
        left: 0;
      }
    }
  }

  &.list-square {
    margin-left: 20px;
    >li {
      padding-left: 10px;
      &:before {
        content: '';
        display: inline-block;
        height: 4px;
        width: 4px;
        position: absolute;
        top: 5.5px;
        left: 0;
      }
    }
  }

  &.list-square-empty {
    margin-left: 20px;
    >li {
      padding-left: 10px;
      &:before {
        content: '';
        display: inline-block;
        height: 4px;
        width: 4px;
        position: absolute;
        top: 5.5px;
        left: 0;
      }
    }
  }

  &.list-diamond {
    >li {
      &:before {
        content: '';
        height: 4px;
        width: 4px;
        transform: rotate(-45deg);
        position: absolute;
        top: 5.5px;
        left: 0;
      }
    }
  }

  &.list-diamond-empty {
    >li {

        &:before {
          content: '';
          background: transparent;
          height: 4px;
          width: 4px;
          transform: rotate(-45deg);
          position: absolute;
          top: 5.5px;
          left: 0;
        }
    }
  }
}

.blockquote {
  padding-bottom: 36px;
  h4 {
    margin-top: 35px;
    margin-bottom: 2px;
  }

  .subheading {
    font-family: 'Raleway', sans-serif;
    @include font-size(1.1,false);
    margin-bottom: 8px;
  }

  p {
    line-height: 22px;
    padding: 0 51px;
    @media (max-width: 767px) {
      padding: 0;
    }
  }
}

.btn-radius-group {

  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 767px) {
    display: block;
    width: 29%;
    a {
      margin: 15px 0;
    }
  }
  @media(max-width: 1199px) {

    margin: 30px 0;

  }
  margin-bottom: 50px;
}

input,textarea {
  &.form-control {
    position: relative;
    z-index: 1;
    width: 100%;
    background: transparent;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}
input {
  &.form-control {
    @include font-size(1.2,true);
    height: 52px;
    padding: 20px 0 0;
    &:focus + label, &.filled + label {
      height: 52px;
    }
  }
}
textarea {
  &.form-control {
    position: absolute;
    bottom: 0;
    resize: none;
    padding: 0;
    @include font-size(1.2,true);
    &:focus + label, &.filled + label {
      height: 90px ;
    }
  }
}
.form-group {
  position: relative;
  label {
    @include font-size(1.2,true);
    font-weight: 300;
    bottom: 0;
    left: 0;
    margin: 0;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 25px;
    transition: height .3s ease, border .3s ease;
  }
  &.text-area {
    label {
      height: 65px;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.custom-select {
  position: relative;
  select {
    opacity: 0;
    position: absolute;
    left: -9999px;
  }
  .select-header {
    height: 35px;
    padding-bottom: 10px;
    background: transparent;
    position: relative;
    cursor: pointer;
    @include font-size(1.2,false);

    &:after {
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      right: 11px;
      bottom: 0px;
      margin: auto;
      border-style: solid;
      border-width: 5px 3px 0 3px;
    }

    .current-item {
      padding-right: 20px;
      padding-top: 10px;
    }

  }

  .select-body {
    padding: 15px 20px;
    display: none;
    max-height: 150px;
    > div {
      @include font-size(1.2,false);
      cursor: pointer;
      padding: 10px 0;
    }
  }

  &.open {
    .select-header {
      &:after {
        transform: rotate(60deg);
      }
    }
    .select-body {
      display: block;
    }

  }
}

.checkbox {
  @include font-size(1.2,true);
  font-weight: 300;
  color: #fff;
  margin-bottom: 14px;
  cursor: pointer;
  span {
    margin-right: 11px;
  }
  input {
    display: none;
  }
  input + span {
    display: inline-block;
    width: 10px;
    height: 10px;
    transition: background .2s ease;
  }

  input:disabled + span,&.disabled {
    opacity: .5;
  }
}

.radio {
  @include font-size(1.2,true);
  font-weight: 300;
  margin-bottom: 14px;
  cursor: pointer;
  span {
    margin-right: 11px;
  }

  input {
    display: none;
  }
  input + span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transition: background .2s ease;
  }


  input:disabled + span,&.disabled {
    opacity: .5;
  }
}

.round-checkbox-container {
  margin-top: 10px;
}
.btn-wrapper {
  @media (max-width: 767px) {
    margin: 15px 0;
    width: 30%;
    a {
      float: none !important;
    }
  }
  > a {
    margin-bottom: 40px;
  }
  a:last-child {
    margin-bottom: 0;
  }
}

.links {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  >p {
    @include font-size(1.2,false);
    display: inline-block;
  }
}

.nicescroll-rails-vr {
  margin-right: .5%;
  width: 1px !important;
  .nicescroll-cursors {
    padding: 15px 0 !important;
    border: none !important;
    width: 3px !important;
    background-color: transparent !important;
    &:before {
      content: "";
      display: block;
      height: 100%;
      width: 2px !important;
      border: none !important;
    }
  }
}
.nicescroll-rails-hr {
  height: 1px !important;
  .nicescroll-cursors {
    padding: 0 15px  !important;
    border: none !important;
    height: 3px !important;
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 2px !important;
      border: none !important;
    }
  }
}

.path-container {
  margin-top: 10px;
  >div {
    margin-bottom: 20px;
  }
}

.light {
  font-weight: 300 !important;
}

.share {
  font-weight: 700;
  a {
    @include font-size(1.1,false);
    text-decoration: none !important;
    transition: color .2s ease-in-out;
    display: inline-block;
    margin-right: 20px;
  }
}