doctype html
html(lang="en")
    head
        include layout/_favicon.jade
        include layout/_header.jade
        include layout/_light.jade
    body.animsition
        include layout/_preloader.jade
        - var page = 'previews'
        .background
        .flex-wrapper
            .main-content.align-center
                .container
                    .row
                        .col-md-12
                            h1.brand-color.text-center.reviews-header Reviews
                    .row
                        .col-md-8.col-md-offset-2
                            .carousel
                                .slide
                                    .content
                                        img( alt="" src='img/reviews/review_1.png')
                                        .blockquote
                                            h4.text-1-opacity.text-center.margin-0 Mary Hopkins
                                            p.subheading.text-uppercase.text-center mito company
                                            p.text-center.text-1-opacity
                                                | “Discover the world’s top universities for art & design, with the QS World University Rankings by Subject 2015. The rankings highlight the world’s top universities in 36 individual subjects, based on”
                                .slide
                                    .content
                                        img( alt="" src='img/reviews/review_2.png')
                                        .blockquote
                                            h4.text-1-opacity.text-center.margin-0 Mary Hopkins
                                            P.subheading.text-uppercase.text-center mito company
                                            p.text-center.text-1-opacity
                                                | “Discover the world’s top universities for art & design, with the QS World University Rankings by Subject 2015. The rankings highlight the world’s top universities in 36 individual subjects, based on”
                                .slide
                                    .content
                                        img( alt="" src='img/reviews/review_3.png')
                                        .blockquote
                                            h4.text-1-opacity.text-center.margin-0 Mary Hopkins
                                            p.subheading.text-uppercase.text-center mito company
                                            p.text-center.text-1-opacity
                                                | “Discover the world’s top universities for art & design, with the QS World University Rankings by Subject 2015. The rankings highlight the world’s top universities in 36 individual subjects, based on”
                                .slide
                                    .content
                                        img( alt="" src='img/reviews/review_1.png')
                                        .blockquote
                                            h4.text-1-opacity.text-center.margin-0 Mary Hopkins
                                            p.subheading.text-uppercase.text-center mito company
                                            p.text-center.text-1-opacity
                                                | “Discover the world’s top universities for art & design, with the QS World University Rankings by Subject 2015. The rankings highlight the world’s top universities in 36 individual subjects, based on”
                                .slide
                                    .content
                                        img( alt="" src='img/reviews/review_2.png')
                                        .blockquote
                                            h4.text-1-opacity.text-center.margin-0 Mary Hopkins
                                            p.subheading.text-uppercase.text-center mito company
                                            p.text-center.text-1-opacity
                                                | “Discover the world’s top universities for art & design, with the QS World University Rankings by Subject 2015. The rankings highlight the world’s top universities in 36 individual subjects, based on”
        include layout/_menu_light.jade
        include layout/_scripts.jade