doctype html
html(lang="en")
    head
        include layout/_favicon.jade
        include layout/_header.jade
        include layout/_light.jade
    body.scroll.animsition
        include layout/_preloader.jade
        .background
        .container
            .row
                .col-sm-8.col-sm-offset-2
                    h1.brand-color.light Heading and paragraph
                    .example-heading
                        h1 Heading 1
                        h2 Heading 2
                        h3 Heading 3
                        h4 Heading 4
                        h5 Heading 5
                        h6 Heading 6
                    .headings-p-container
                        h1.text-1-opacity If you are a site administrator and have been accidentally locked out please enter
                        p Lorem ipsum dolor sit amet, cu facer vitae tractatos qui, ut purto sonet option mel. Agam insolens indoctum in usu, in quo solum scripta fierent. Esse qualisque eam te. Est te labores quaerendum disputationi. Cibo aliquid ei per, ignota scripta ea eum.
                        p Est ut quem oportere. Mei modo dicunt voluptua ex, clita volumus ponderum vis at. Primis fierent sea et. Quo eu aliquid euripidis delicatissimi. Cu tation audire neglegentur cum, eu justo cetero petentium vel.
                        p Atqui soleat mucius et sit. Ne mel vivendo pertinacia democritum, mel liber dictas latine id. Duo assum dictas an. Ridens fastidii at usu, mel id magna verear epicurei. Falli accumsan disputationi sed eu.
                        h2.text-1-opacity If you are site administrator and have been and locked out, please enter your email in the box
                        p Lorem ipsum dolor sit amet, cu facer vitae tractatos qui, ut purto sonet option mel. Agam insolens indoctum in usu, in quo solum scripta fierent. Esse qualisque eam te. Est te labores quaerendum disputationi. Cibo aliquid ei per, ignota scripta ea eum.
                        p Est ut quem oportere. Mei modo dicunt voluptua ex, clita volumus ponderum vis at. Primis fierent sea et. Quo eu aliquid euripidis delicatissimi. Cu tation audire neglegentur cum, eu justo cetero petentium vel.
                        p Atqui soleat mucius et sit. Ne mel vivendo pertinacia democritum, mel liber dictas latine id. Duo assum dictas an. Ridens fastidii at usu, mel id magna verear epicurei. Falli accumsan disputationi sed eu.
                        h3.text-1-opacity If you are a site administrator and have been and dental locked out, please enter your email in the box below and
                        p Lorem ipsum dolor sit amet, cu facer vitae tractatos qui, ut purto sonet option mel. Agam insolens indoctum in usu, in quo solum scripta fierent. Esse qualisque eam te. Est te labores quaerendum disputationi. Cibo aliquid ei per, ignota scripta ea eum.
                        p Est ut quem oportere. Mei modo dicunt voluptua ex, clita volumus ponderum vis at. Primis fierent sea et. Quo eu aliquid euripidis delicatissimi. Cu tation audire neglegentur cum, eu justo cetero petentium vel.
                        p Atqui soleat mucius et sit. Ne mel vivendo pertinacia democritum, mel liber dictas latine id. Duo assum dictas an. Ridens fastidii at usu, mel id magna verear epicurei. Falli accumsan disputationi sed eu.
                        h4.text-1-opacity If you are a site administrator and have been accidentally locked out, please enter your email in the box below and click "Send". If the
                        p Lorem ipsum dolor sit amet, cu facer vitae tractatos qui, ut purto sonet option mel. Agam insolens indoctum in usu, in quo solum scripta fierent. Esse qualisque eam te. Est te labores quaerendum disputationi. Cibo aliquid ei per, ignota scripta ea eum.
                        p Est ut quem oportere. Mei modo dicunt voluptua ex, clita volumus ponderum vis at. Primis fierent sea et. Quo eu aliquid euripidis delicatissimi. Cu tation audire neglegentur cum, eu justo cetero petentium vel.
                        p Atqui soleat mucius et sit. Ne mel vivendo pertinacia democritum, mel liber dictas latine id. Duo assum dictas an. Ridens fastidii at usu, mel id magna verear epicurei. Falli accumsan disputationi sed eu.
                        h5.text-1-opacity If you are a site administrator and have been accidentally locked out,  and enter your email in the box below and click "Send". If the email address you
                        p Lorem ipsum dolor sit amet, cu facer vitae tractatos qui, ut purto sonet option mel. Agam insolens indoctum in usu, in quo solum scripta fierent. Esse qualisque eam te. Est te labores quaerendum disputationi. Cibo aliquid ei per, ignota scripta ea eum.
                        p Est ut quem oportere. Mei modo dicunt voluptua ex, clita volumus ponderum vis at. Primis fierent sea et. Quo eu aliquid euripidis delicatissimi. Cu tation audire neglegentur cum, eu justo cetero petentium vel.
                        p Atqui soleat mucius et sit. Ne mel vivendo pertinacia democritum, mel liber dictas latine id. Duo assum dictas an. Ridens fastidii at usu, mel id magna verear epicurei. Falli accumsan disputationi sed eu.
                        h6.text-1-opacity If you are a site administrator and have been accidentally locked out, please enter your email in the box below and click "Send". If the email address you enter belongs to a known
                        p Lorem ipsum dolor sit amet, cu facer vitae tractatos qui, ut purto sonet option mel. Agam insolens indoctum in usu, in quo solum scripta fierent. Esse qualisque eam te. Est te labores quaerendum disputationi. Cibo aliquid ei per, ignota scripta ea eum.
                        p Est ut quem oportere. Mei modo dicunt voluptua ex, clita volumus ponderum vis at. Primis fierent sea et. Quo eu aliquid euripidis delicatissimi. Cu tation audire neglegentur cum, eu justo cetero petentium vel.
                        p Atqui soleat mucius et sit. Ne mel vivendo pertinacia democritum, mel liber dictas latine id. Duo assum dictas an. Ridens fastidii at usu, mel id magna verear epicurei. Falli accumsan disputationi sed eu.
            .image-text
                .row
                    .col-sm-8.col-sm-offset-2
                        h1.brand-color.light Image and text
                    .col-sm-10.col-sm-offset-1
                        img( alt="" src="img/typography.png").text-img
                    .col-sm-8.col-sm-offset-2
                        p Lorem ipsum dolor sit amet, cu facer vitae tractatos qui, ut purto sonet option mel. Agam insolens indoctum in usu, in quo solum scripta fierent. Esse qualisque eam te. Est te labores quaerendum disputationi. Cibo aliquid ei per, ignota scripta ea eum.
                        p Est ut quem oportere. Mei modo dicunt voluptua ex, clita volumus ponderum vis at. Primis fierent sea et. Quo eu aliquid euripidis delicatissimi. Cu tation audire neglegentur cum, eu justo cetero petentium vel.
                        p Atqui soleat mucius et sit. Ne mel vivendo pertinacia democritum, mel liber dictas latine id. Duo assum dictas an. Ridens fastidii at usu, mel id magna verear epicurei. Falli accumsan disputationi sed eu.
                        br
                        p Vis simul feugiat ex. Natum ipsum mel at. Ne vim propriae praesent, sit graece timeam et, duo albucius atomorum id. Vis ei errem option, qui cu

            .list
                .row
                    .col-sm-8.col-sm-offset-2
                        h1.brand-color.light Lists
                        p Palace of Arts is the definite queen of culture in the Hungarian capital. When it first opened its gates as a new cultural center in 2005 we were honoured with developing its first website. When it came to redesigning in 2013 we were flattered to win the opportunity to rebuild the whole experience from the ground up. Feeling excited and determined we embarked on a mission to set up a new benchmark for culture in digital
                        .col-sm-6
                            ol
                                li Lorem ipsum dolor sit amet, cu facer vitae
                                li Lorem ipsum dolor sit amet
                                li Lorem ipsum dolor
                                    ol
                                        li Lorem ipsum dolor sit amet, cu facer vitae
                                        li Lorem ipsum dolor sit amet
                                        li Lorem ipsum dolor sit amet, cu facer vitae and another things.
                                        li Lorem ipsum dolor sit amet,
                                        li Lorem ipsum dolor sit amet, cu facer vitae
                                li Lorem ipsum dolor sit amet, cu facer vitae
                                li Lorem ipsum dolor sit amet, cu facer vitae
                        .col-sm-6
                            ul.list-circle
                                li Lorem ipsum dolor sit amet
                                    ul.list-circle-empty
                                        li Lorem ipsum dolor sit amet
                                            ul.list-square
                                                li Lorem ipsum dolor sit amet
                                                    ul.list-square-empty
                                                        li Lorem ipsum dolor sit amet
                                                            ul.list-diamond
                                                                li Lorem ipsum dolor sit amet
                                                                    ul.list-diamond-empty
                                                                        li Lorem ipsum dolor sit amet
                        .clearfix
                        p Palace of Arts is the definite queen of culture in the Hungarian capital. When it first opened its gates as a new cultural center in 2005 we were honoured with developing its first website. When it came to redesigning in 2013 we were flattered to win the opportunity to rebuild the whole experience from the ground up. Feeling excited and determined we embarked on a mission to set up a new benchmark for culture in digital.
            .row
                .col-sm-8.col-sm-offset-2
                    h1.brand-color.light Blockquote
                    p Lorem ipsum dolor sit amet, cu facer vitae tractatos qui, ut purto sonet option mel. Agam insolens indoctum in usu, in quo solum scripta fierent. Esse qualisque eam te. Est te labores quaerendum disputationi. Cibo aliquid ei per, ignota scripta ea eum.
                    p Est ut quem oportere. Mei modo dicunt voluptua ex, clita volumus ponderum vis at. Primis fierent sea et. Quo eu aliquid euripidis delicatissimi. Cu tation audire neglegentur cum, eu justo cetero petentium vel.
                    .blockquote
                        h4.text-center.text-1-opacity Mary Hopkins
                        p.subheading.text-uppercase.text-center mito company
                        p.direct-speech.text-center.text-1-opacity
                            | "Lorem ipsum dolor sit amet, cu facer vitae tractatos qui, ut purto sonet option mel. Agam insolens indoctum in usu, in quo solum scripta fierent. Esse qualisque eam te. Est te labores quaerendum disputationi. Cibo aliquid ei per, ignota scripta ea eum."
                    p Lorem ipsum dolor sit amet, cu facer vitae tractatos qui, ut purto sonet option mel. Agam insolens indoctum in usu, in quo solum scripta fierent. Esse qualisque eam te. Est te labores quaerendum disputationi. Cibo aliquid ei per, ignota scripta ea eum.
                    p Est ut quem oportere. Mei modo dicunt voluptua ex, clita volumus ponderum vis at. Primis fierent sea et. Quo eu aliquid euripidis delicatissimi.
            .row
                .col-sm-8.col-sm-offset-2
                    h1.brand-color.light Forms
                    .row
                        .col-lg-5.sol-sm-12
                            .name.form-group
                                input(type="text" name="name").form-control#input
                                label(for="input") Your name
                            .name.form-group
                                input(type="text" name="name" value="Ben Howard").form-control#input-filled.filled
                                label(for="input-filled") Your name
                            select
                                option(value='0') Select
                                option(value='1') Demo 1
                                option(value='2') Demo 2
                                option(value='3') Demo 3
                                option(value='4') Demo 4
                                option(value='5') Demo 5
                        .col-lg-6.col-lg-offset-1.col-sm-12
                            .btn-radius-group
                                a.btn.btn-default.btn-sm button
                                a.btn.btn-default.hover.btn-sm button
                                a.btn.btn-default.active.btn-sm button
                            .row
                                .col-sm-6
                                    label.checkbox
                                        input(type="checkbox")
                                        span
                                        | Default
                                    .clearfix
                                    label.checkbox
                                        input(type="checkbox")
                                        span
                                        | Checked
                                    .clearfix
                                    label.checkbox.disabled
                                        input(type="checkbox" disabled)
                                        span
                                        | Disabled
                                    .clearfix
                                    .round-checkbox-container
                                        label.radio
                                            input(type="radio" name="radio")
                                            span
                                            | Default
                                        .clearfix
                                        label.radio
                                            input(type="radio" checked  name="radio")
                                            span
                                            | Checked
                                        .clearfix
                                        label.radio.disabled
                                            input(type="radio" disabled)
                                            span
                                            | Disabled
                                    .clearfix
                                .col-sm-6
                                    .btn-wrapper
                                        a.btn.btn-primary.pull-right button
                                        a.btn.btn-primary.hover.pull-right button
                                        a.btn.btn-primary.pull-right button
                            .col-sm-12.padding-0
                                .links
                                    p.visited-link visited link
                                    p.default-link default link
                                    p.hovered-link hovered link
                                    p.active-link active link

                            .col-sm-12.path-container
                                .btn-path
                                    .line
                                    .circle-btn
                                .btn-path
                                    .line
                                    .circle-btn
                                .btn-path
                                    .line
                                    .circle-btn
        include layout/_scripts