script.
   if(/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) {
       document.write('<script src="js/browser-polyfill.min.js"><\/script>');
       document.write('<script src="js/innersvg.js"><\/script>');
   }
script(src="js/jquery-2.1.1.min.js")
script(src="js/animsition.min.js")
script(src="js/bootstrap.min.js")
script(src="js/owl.carousel.min.js")
script(src="js/jquery.nicescroll.min.js")
script(src="js/isotope.pkgd.js")
script(src="js/masonry-horizontal.js")
script(src="js/imagesloaded.pkgd.min.js")
script(src="js/jquery.magnific-popup.min.js")
script(src="js/graph.js")
script(src="js/main.js")